/* Fresh Idea CSS */

* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

html {
    background-image: url(../images/bg.png);
}

/* Body */

body {
    margin: 0 20% 0 20%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    float: left;
}

/* Header */

header img {
    position: relative;
    top: 30px;
    left: 20PX;
}

header nav {
    float: right;
    margin: 60px 20px 0 0;
    padding: 5px 0 5px 8px;
    background-color: black;
}

header nav ul li {
    list-style: none;
    float: left;
    width: auto;
    padding: 10px;
}

header nav ul li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

header #home {
    background-color: rgb(255, 200, 21);
    padding: 15px 12px 16px 12px;
}

/* Banner */

.banner {
    border: solid 10px rgb(215, 215, 215);
    margin: 80px 20px 0 20px;
    height: 318px;
    background-image: url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-position: right;
}

.banner section {
    position: relative;
    width: 30%;
    left: 7%;
    top: 30%;
}

.banner section h1 {
    font-size: 30px;
    border-bottom: 1px black dotted;
    margin: 0 0 8px 0;
}

.banner section p {
    margin:  0 0 20px 0;
}

.banner section a {
    background-color: rgb(26, 26, 26);
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    text-align: center;
}

aside {
    width: 25%;
    float: right;
    margin: 30px 20px 0 0;
}

h2 {
    font-size: 30px;
    border-bottom: 1px black dotted;
    padding-bottom: 8px;
}

aside section {
    margin: 20px 0 0 0;
    border-bottom: 1px black dotted;
}

h3{
    font-weight: 100;
}

aside section time {
    position: relative;
    left: 130px;
    top: -18px;
    padding: 8px;
    font-weight: 900;
    background-color: orange;
}

aside section p {
    margin: 0 0 20px 0;
}

aside section p a {
    text-decoration: none;
    color: black;
    font-weight: 900;
}

aside img {
    margin-top: 10px;
    padding: 14px;
    border: 1px dotted black;
}


main {
    width: 65%;
    float: left;
    margin: 30px 0 20px 20px;
}

.services {
    margin-bottom: 20px;
    float: left;
}

.services h2 {
    margin: 0 0 10px 0;
}

.services section {
    float: left;
    margin: 0 0 5px 0;
}

.services section img {
    float: left;
    margin: 10px 14px 10px 0;
    padding: 10px;
    border: solid rgb(216, 216, 216) 1px;
}

.services section h3 {
    float: left;
    width: 70%;
    margin: 12px 0 0 0;
}

.services section p {
    width: 70%;
    float: left;
    margin: 7px 0 0 0;
    font-size: 17px;
}

.services section a {
    width: 70%;
    float: left;
    margin: 7px 0 0 0;
    text-decoration: none;
    color: black;
    font-weight: 900;
    font-size: 18px;
}

/* About Us */
.aboutUs {
    margin-bottom: 20px;
    float: left;
}

.aboutUs section {
    margin-top: 5px;
}

.aboutUs section img {
    float: left;
    margin: 10px 14px 10px 0;
    padding: 15px 10px 15px 10px;
    border: solid rgb(216, 216, 216) 1px;
}

.aboutUs section p {
    float: left;
    width: 60%;
    margin: 13px 0 0 0;
}

.aboutUs section a {
    text-decoration: none;
    color: black;
    font-weight: 900;
    font-size: 18px;
}
 
.testimonials {
    float: left;
    margin-bottom: 40px;
}

.testimonials p {
    float: left;
    width: 100%;
    margin: 15px 0 0 0;
}


footer{
    float: left;
    margin-left: -34%;
    bottom: 0;
    color: white;
    width: 167.3%;
    height: 100px;
    background-color: black;
}

footer p {
    float: left;
    margin-left: 25%;
    margin-top: 30px;
}

footer article {
    float: left;
    margin-left: 24%;
    margin-top: 30px;
}