

*{
    padding: 0;
    border: 0;
}

header{
    border: solid red 1px;
    padding-top: 5%;
    position: relative;
    background-color: antiquewhite;
}
header h1{
    border: solid blue 1px;
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
}


header ul{
    border: 1px green solid;
    position: absolute;
    top: 0;
    right: 100px;
}

header ul li{
    border: solid red 1px;
    list-style: none;
    float: left;
}
header ul li a{
    text-decoration: none;

}





nav {
    border: solid blue 1px;
    height: 60px;
    float: inline;
    text-decoration: none;
}

nav ul{
    border: 1px red solid;
    height: 35%;
    padding-left: 80%;

}

nav ul li{
    border: solid red 1px;
    list-style: none;
    float: left;
}
nav ul li a{
    text-decoration: none;

}