/*








 _________________________________________________________________________________
|  _____________________________________________________________________________  |
| |                                                                             | |
| |                                                                             | |
| |                                                                             | |
| |_____________________________________________________________________________| |
|                                                                                 |
|  _____________________________________________________________________________  |
| |                                                                             | |
| |                                                                             | |
| |                                                                             | |
| |                                                                             | |
| |                                                                             | |
| |                                                                             | |
| |                                                                             | |
| |                                                                             | |
| |                                                                             | |
| |_____________________________________________________________________________| |
| |                                                                             | |
| |                           ||                                                | |
| |                           ||                                                | |
| |                           ||                                                | |
| |                           ||                                                | |
| |                           ||                                                | |
| |                           ||                                                | |
| |                           ||                                                | |
| |                           ||                                                | |
| |                           ||                                                | |
| |                           ||                                                | |
| |                           ||                                                | |
| |                           ||                                                | |
| |                           ||                                                | |
| |                           ||                                                | |
| |                           ||                                                | |
| |                           ||                                                | |
| |                           ||                                                | |
| |                           ||                                                | |
| |                           ||                                                | |
| |_____________________________________________________________________________| |
| |                                                                             | |
| |                                                                             | |
| |                                                                             | |
| |                                                                             | |
| |                                                                             | |
| |                                                                             | |
| |                                                                             | |
| |_____________________________________________________________________________| |
|_________________________________________________________________________________|



*/

/** Quedaria mas limpio identificarlo con una clase **/

/*** Reseteo de propiedades ***/
* {
    padding: 0;
    margin: 0;
}

/*** BODY ***/
body{
    background-color: #1f4677;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 3%;
}






/*** NAV ***/

nav {
    text-align: center;
}
nav ul{
    background-image: url(images/bluePrintPaper.png);
    padding: 0%;
    height: 60px;
}
nav ul li {
    display: inline-block;
    width: 14%;
    margin-top: 25px;

}

nav ul li a {
    font-weight: bold;
    text-decoration: none;
    color:#1f4677;
    font-size: 20px;
    
}





/*** HEADER ***/ 
header {
    position: relative;
    background-color: #d2e1f6;
    height: 150px;
    margin-top: 15px;

    padding: 2%;
}
header p {
    width: 60%;
    margin-top: 20px;
    font-style: italic;
}

#imagenHeader{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}




/*** ASIDE ***/ /*** SECTION ***/
#texto{
    height: 550px;
}


aside{
    height: 550px;
}



aside {
    float: left;
    padding-left: 2%;
    width: 30%;    
    background-color: #ffffff;
}
aside section h3 {
    padding-bottom: 20px;
    padding-top: 20px;
}
aside section {
    padding-top: 3%;
}

section > ul {
    padding-left: 4%;
}


#texto {
    background-color: white;
    width: 68%;
    float: left;
}
section article {
    padding: 30px 60px 0 60px;
    position: relative;
    /**border: solid 1px red;**/
    border-left: solid 5px #1f4677;
    margin-top: 20px;
}

section article p {
    padding: 20px 0;
}

aside section ul li a{
    text-decoration: none;
    color: #4484bc;
}






/*** FOOTER ***/

footer {
    background-color: #d2e1f6;
    height: 100px;
    width: 100%;
    clear: left;
}

footer section {
    display: inline-block;
    width: 15%;
    margin-top: 20px;
    margin-left: 100px;
}

