/** 
Quedaria mas limpio identificarlo con una clase

**/

/*** Reseteo de propiedades ***/
* {
    padding: 0;
    margin: 0%;
}
/*** BODY ***/
body{
    background-color: #1f4677;
    font-family: Arial, Helvetica, sans-serif;
}

/*** NAV ***/

nav {
    /* 
    border-width: 1px;
    border-color: black;
    border-style: solid;
    */
    
    background-image: url(../images/bluePrintPaper.png);
    text-align: center;
    
}
nav ul{
    border: 1px green solid;
}
nav ul li {
    border: 1px blue solid;
    /*display: inline; width y height no se pueden modificar con inline */
    display: inline-block;
    /* inline-block nos permite modificar la altura/anchura de la correspondiente caja */
    width: 15%;
    margin-top: 60px;
    margin-bottom: 40px;
}

nav ul li a {
    margin: 0 5px; /* Arriba/Abajo y Derecha/Izquierda */
    border: 1px magenta solid;
}

/*** HEADER ***/ /*** FOOTER ***/
header {
    border: 1px black solid;
    position: relative;
    background-color: #d2e1f6;
    height: 200px;
}

#imagenHeader{
    position: absolute;
    right: 0;
    top: 0;
}
/*** ASIDE ***/ /*** SECTION ***/
aside, section {
    /*
    border-width: 1px;
    border-color: black;
    border-style: solid;
    */
    background-color: #ffffff;
}

/* Dibujar el contorno de las secciones dentro del footer */

footer section {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    /* Tambien puuedo hacer border: 1px black solid; */
}

/* Dibujar el contorno de las "ul" que sean hijas de un "section" */

section > ul {
    border-width: 1px;
    border-color: navy;
    border-style: solid;
}

/* Dibujar el contorno de las "sections" que tengan un hermano mayor adyacente "section" */

section + section {
    border-width: 1px;
    border-color: green;
    border-style: solid;
}
footer {
    /*
    border-width: 1px;
    border-color: black;
    border-style: solid;
    */
    background-color: #d2e1f6;
}
/* p (
    clear; right
)*/

/*=====Como Colocar las opciones del menu horizontalmente=====*/
