/* 
Quedaria mas limpio identificarlo con una clase
*/

/*** NAV ***/
body{
    background-color: #1f4677;
}
nav {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-image: url(images/bluePrintPaper.png);
}

/*** HEADER ***/
header {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: #d2e1f6;
}

/*** ASIDE ***/
aside {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: #ffffff;
}

/*** SECTION ***/
section {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: #ffffff;
}

/*** FOOTER ***/
footer {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: #d2e1f6;
}