/*
 ______________________________________________________________________________________________________________________________________
|  __________________________________________________________________________________________________________________________________  |
| |   _______________                                                                                                                | |
| |  |               |                                                                                                               | |
| |  |     logo      |                                                                                                               | |
| |  |               |                                                                                                               | |
| |  |_______________|                                                                                                               | |
| |__________________________________________________________________________________________________________________________________| |
|                                                                                                                                      |
|  __________________________________________________________________________________________________________________________________  |
| |            __________________   __________________   __________________   __________________   __________________                | |
| |           |                  | |                  | |                  | |                  | |                  |               | |
| |           |     popular      | |     género       | |      nuevos      | |     noticias     | |  mi biblioteca   |               | |
| |           |                  | |                  | |                  | |                  | |                  |               | |
| |           |__________________| |__________________| |__________________| |__________________| |__________________|               | |
| |__________________________________________________________________________________________________________________________________| |
|                                                                                                                                      |
|  _____________________________________________________________________________________________________   __________________________  |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |_____________________________________________________________________________________________________| |__________________________| |
|                                                                                                                                      |
|  __________________________________________________________________________________________________________________________________  |
| |                                                                                                                                  | |
| |                                                                                                                                  | |
| |                                                                                                                                  | |
| |                                                                                                                                  | |
| |                                                                                                                                  | |
| |                                                                                                                                  | |
| |__________________________________________________________________________________________________________________________________| |
|______________________________________________________________________________________________________________________________________|



*/

/**Todo**/
* {
    padding: 0;
    margin: 0;
}


/**Navegación**/
nav {
    text-align: center;
}
nav ul{
    background-image: url(images/bluePrintPaper.png);
    padding: 0%;
    height: 60px;
}
nav ul li {
    display: inline-block;
    width: 14%;
    margin-top: 25px;

}

nav ul li a {
    font-weight: bold;
    text-decoration: none;
    color:#1f4677;
    font-size: 20px;
    
}


/**Aside**/
aside {
    float: right;
    text-align: center;
}


/**Main**/
main {
    width: 70%;
    border: 1px red solid;
    float: left;
    text-align: center;
}
main article {
    float: left;
}