/*
 ______________________________________________________________________________________________________________________________________
|  __________________________________________________________________________________________________________________________________  |
| |   _______________                                                                                                                | |
| |  |               |                                                                                                               | |
| |  |     logo      |                                                                                                               | |
| |  |               |                                                                                                               | |
| |  |_______________|                                                                                                               | |
| |__________________________________________________________________________________________________________________________________| |
|                                                                                                                                      |
|  __________________________________________________________________________________________________________________________________  |
| |            __________________   __________________   __________________   __________________   __________________                | |
| |           |                  | |                  | |                  | |                  | |                  |               | |
| |           |     popular      | |     género       | |      nuevos      | |     noticias     | |  mi biblioteca   |               | |
| |           |                  | |                  | |                  | |                  | |                  |               | |
| |           |__________________| |__________________| |__________________| |__________________| |__________________|               | |
| |__________________________________________________________________________________________________________________________________| |
|                                                                                                                                      |
|  _____________________________________________________________________________________________________   __________________________  |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |_____________________________________________________________________________________________________| |__________________________| |
|                                                                                                                                      |
|  __________________________________________________________________________________________________________________________________  |
| |                                                                                                                                  | |
| |                                                                                                                                  | |
| |                                                                                                                                  | |
| |                                                                                                                                  | |
| |                                                                                                                                  | |
| |                                                                                                                                  | |
| |__________________________________________________________________________________________________________________________________| |
|______________________________________________________________________________________________________________________________________|

margin: top right botton left;

*/

/**Todo**/
* {
    padding: 0;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background: -webkit-linear-gradient(180deg, #d81444 10%, black);  
}

/**Encabezado**/
header{
    background-color: #d81444;
    padding-bottom: 100px;
}
header h1{
    padding: 25px;
    font-size: 50px;
}


/**Navegación**/
nav {
    text-align: center;
}
nav ul{
    background-color: grey;
}
nav ul li {
    display: inline-block;
    width: 7%;
    margin: 10px;
    padding: 12px;
    background-color: white;
    border-radius: 7px;
}

nav ul li a {
    font-weight: bold;
    text-decoration: none;
    color:black;
    font-size: 20px;

}
/* object-fit: cover; */




/**Aside**/
aside {
    text-decoration: none ;
    float: left;
    width: 13%;
    border-right: 5px solid white;
    height: 100%;
}

aside ul h3{
    margin: 30px 0 15px 0 ;
    text-align: center;
    background-color: white;
}

aside ul li p{
    position: absolute;
    top: 35%;
    color: white;
    background-color: rgba(0, 0, 0, 0.581);
    margin: 0 0 0 25%;
    padding: 0 17%;
}

aside ul li{
    position: relative;
}

#corona{
    padding: 0 37%;
    width: 60px;
}

#top{
    width: 80%;
    border-radius: 8px;
    margin: 0 10%;
    height: 60px;
    object-fit: cover;
    border: 3px solid #d81444;
}

    #top1{
        width: 80%;
        border-radius: 8px;
        margin: 0 10%;
        height: 60px;
        object-fit: cover;
        border: 3px solid #ffbf00;
    }
    
    #top2{
        width: 80%;
        border-radius: 8px;
        margin: 0 10%;
        height: 60px;
        object-fit: cover;
        border: 3px solid #e3e4e5;
    }
    
    #top3{
        width: 80%;
        border-radius: 8px;
        margin: 0 10%;
        height: 60px;
        object-fit: cover;
        border: 3px solid #ff8001;
    }




/**Main**/
main {
    float: left;
    width: 82%;
    margin-top: 50px;
    padding: 19px;
    padding-right: 10px;
}

main article{
    margin-right: 10px;
    margin-bottom: 30px;
    float: left;
    padding: 8px;
    width: 15%;
}
#PORTADAS{
    width: 100%;
}


main article h4{
    width: 12.3%;
    color: white;
    background-color: rgba(0, 0, 0, 0.800);
    position: absolute;
    padding: 10px 0;
    text-align: center;
}

    /* GENEROS */
    #kodomo{
        background-color: #fdff78;
    }

    #shounen{
        background-color: #ff6868;
    }

    #shojo{
        background-color: #68fcff;
    }

    #seinen{
        background-color: #7b2eff;
    }
    
    #josei{
        background-color: #69ff6e;
    }




    






/**Seccion**/
section{
    float: left;
    border: solid blue 1px;
    width: 100%;
}