/*
 ______________________________________________________________________________________________________________________________________
|  __________________________________________________________________________________________________________________________________  |
| |   _______________                                                                                                                | |
| |  |               |                                                                                                               | |
| |  |     logo      |                                                                                                               | |
| |  |               |                                                                                                               | |
| |  |_______________|                                                                                                               | |
| |__________________________________________________________________________________________________________________________________| |
|                                                                                                                                      |
|  __________________________________________________________________________________________________________________________________  |
| |            __________________   __________________   __________________   __________________   __________________                | |
| |           |                  | |                  | |                  | |                  | |                  |               | |
| |           |     popular      | |     género       | |      nuevos      | |     noticias     | |  mi biblioteca   |               | |
| |           |                  | |                  | |                  | |                  | |                  |               | |
| |           |__________________| |__________________| |__________________| |__________________| |__________________|               | |
| |__________________________________________________________________________________________________________________________________| |
|                                                                                                                                      |
|  _____________________________________________________________________________________________________   __________________________  |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |                                                                                                     | |                          | |
| |_____________________________________________________________________________________________________| |__________________________| |
|                                                                                                                                      |
|  __________________________________________________________________________________________________________________________________  |
| |                                                                                                                                  | |
| |                                                                                                                                  | |
| |                                                                                                                                  | |
| |                                                                                                                                  | |
| |                                                                                                                                  | |
| |                                                                                                                                  | |
| |__________________________________________________________________________________________________________________________________| |
|______________________________________________________________________________________________________________________________________|



*/

/**Todo**/
* {
    padding: 0;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    /* background: -webkit-linear-gradient(70deg, #d81444, grey);   */

}

/**Encabezado**/
header{
    background-color: #d81444;
    padding-bottom: 100px;
}
header h1{
    padding: 25px;
    font-size: 50px;
}


/**Navegación**/
nav {
    text-align: center;
}
nav ul{
    background-color: grey;
}
nav ul li {
    display: inline-block;
    width: 7%;
    margin: 10px;
    background-color: white;
}

nav ul li a {
    font-weight: bold;
    text-decoration: none;
    color:black;
    font-size: 20px;
    
}


/**Aside**/
aside {
    text-decoration: none ;
    float: left;
    width: 13%;
    background-color: aquamarine;
}
aside ul h3{
    margin: 30px;
    text-align: center;
}
aside ul li a {
    text-decoration: none;
    color: black;
    margin-left: 90px ;
    
}


aside ul li img {
    width: 100px;
}




/**Main**/
main {
    float: left;
    width: 85%;
    margin-top: 50px;
    background-color: #2c2c2c;
    padding: 19px;
}

main article{
    size: 20px;
    margin-right: 10px;
    margin-bottom: 30px;
    float: left;
    padding: 5px;
    background-color: #636363;
}






/**Seccion**/
section{
    float: left;
    border: solid blue 1px;
    width: 100%;
}